
body{
    background-color: hsl(36, 100%, 99%);
}
hr{
    color: hsl(36, 100%, 99%);
}
.bg-image{
    width:95%;
    padding-left: 10%;
}
.brand{
    padding-left: 10%;
}

.end{
    text-align: center;
}
.end-link{
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.end-text{
    width: 100%;
    color: hsl(236, 13%, 42%);
}
.end-link:hover{
    color: hsl(35, 77%, 62%);
}
.gap{
    padding-top: 2%;
    padding-bottom: 5%;
}
.image{
    width: 150px;
    float: left;
    padding-right: 15px;
    padding-bottom: 5%;
}
.links{
    font-size: 20px;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    font-weight: 600;
}
.links:hover{
    color: hsl(35, 77%, 62%);
}
.logo{
    width: 60px;
}
.main-text{
    font-family: 'Montserrat';
    font-weight: 400;
    color:  hsl(233, 8%, 79%);
    font-size: 15px;
    line-height: 2;
    padding-left: 12%;
}
.nav-item{
    padding: 0 10px;
}
.nav-link:hover{
    text-decoration: underline;
    background-color: hsl(35, 77%, 62%);
}
.navig{
    padding-top: 40px ;
    padding-bottom: 25px;
    padding-right: 12%;
}
.new{
    background-color: hsl(240, 100%, 5%);
    color:  hsl(233, 8%, 79%);
    right:10px;
    border: 2;
    max-width: 300px;
}
.new-text{
    font-size: 45px;
    color:  hsl(35, 77%, 62%);
    line-height: 2;
}
.num{
    font-size: 25px;
    font-weight: 700;
    color:  hsl(233, 8%, 79%);
}
.read{
    position: relative;
    margin-top: 60px;
    padding:10px 25px;
    border-radius: 0;
}
.read:hover{
    background-color: black;
}
.tags:hover{
    color:  hsl(35, 77%, 62%);
}
.web{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 45px;
    padding-left: 12%;
    width: 400px;
}
#ending{
    font-family: 'Montserrat';
    padding: 5% 10%;
    text-align: left;
}
#title{

}

@media(max-width:1160px){
    .hhh{
        align-items: center;
        width: 500px;
    }
}
@media(max-width:1180px){
    .main-text{
        width: 50%;
    }
}